---

---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid bg-body-tertiary">
    <a class="navbar-brand fs-2" href="/">¿Que quiero ser de mayor?</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto text-center">
        <a class="nav-link underline" href="/roadmaps/developer">
          Desarrollador
        </a>
        <a class="nav-link underline" href="/roadmaps/data">
          Analista de datos
        </a>
        <a class="nav-link underline" href="/roadmaps/cyber">
          Ciberseguridad
        </a>
        <i class="bi bi-person-circle nav-link"></i>
      </div>
    </div>
  </div>
</nav>
