---

---

<main class="d-flex flex-column justify-content-center align-items-center noscroll bg-image">
    <h2 class="pb-5">¿QUE QUIERO SER DE MAYOR?</h2>
    <button class="px-5 py-1">
        <a class="d-block" href="#prezi"> Descubre tu <span class="emphasis">FUTURO</span> </a>
    </button>
</main>

<style>
    .home {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
    }
    main {
        height: 100dvh;
        min-width: 100dvw;
    }
    h2 {
        font-family: var(--default-font);
        font-size: 96px;
    }

    button {
        border: none;
        background-color: var(--component-color);
    }

    a {
        font-family: var(--heading-font);
        font-size: 48px;
        text-decoration: none;
    }
    .emphasis {
        color: var(--background-color);
        font-family: var(--emphasis-font);
        font-size: 64px;
    }
</style>