---
const preziUrl = "https://prezi.com/p/embed/QTCPf1uIcNyapXymoUrm/?autoplay=1";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Prezi Pantalla Completa</title>
        <style>
            body,
            html {
                margin: 0;
                padding: 0;
                width: 100%;
                min-height: 100%;
                overflow: hidden;
            }
            #iframe_container {
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100vh;
                border: none;
            }
            #prezi {
                position: relative;
            }

            .arriba {
                position: absolute;
                bottom: 48px;
                right: 15px;
                z-index: 1;
            }
            .boton{
                color: var(--background-color);
                font-size: 72px;
            }
        </style>
    </head>
    <body>
        <div id="prezi">
            <iframe
                src="https://prezi.com/p/embed/gdCpq8jed2EjN29RSuR4/?autoplay=1"
                id="iframe_container"
                allowfullscreen=""
                allow="autoplay; fullscreen"></iframe>
            <div class="arriba"><a href="#"><i class="bi bi-arrow-up-circle-fill boton"></i></a></div>
        </div>
    </body>
</html>
