<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Noticias</title>
</head>

<body>
    <header class="absolute inset-x-0 top-0 z-50" style="z-index: 2; background-color: white;">
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="/HTML/index.html" class="-m-1.5 p-1.5">
              <span class="sr-only">Empresa ejemplo</span>
              <img class="h-8 w-auto" src="/IMG/logo.png" alt="">
            </a>
          </div>
          <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" onclick="showMenu()">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <a href="/HTML/index.html" class="text-sm font-semibold leading-6 text-gray-900">Inicio</a>
            <a href="/HTML/nosotros.html" class="text-sm font-semibold leading-6 text-gray-900">Acerca de</a>
            <a href="./noticias.html" class="text-sm font-semibold leading-6 text-gray-900">Noticias</a>
            <a href="/HTML/ong.html" class="text-sm font-semibold leading-6 text-gray-900">ONGs</a>
            <a href="/HTML/empresa.html" class="text-sm font-semibold leading-6 text-gray-900">Empresas</a>
            <a href="/HTML/donaciones.html" class="text-sm font-semibold leading-6 text-gray-900">Donaciones</a>
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="/HTML/login.html" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="hidden lg:hidden" role="dialog" aria-modal="true" id="menu-lateral">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-50"></div>
          <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="/IMG/logo.png" alt="">
              </a>
              <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" id="cruz-lateral-navbar" onclick="hiddenMenu()">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a href="/HTML/index.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Inicio</a>
                  <a href="/HTML/nosotros.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Acerca de</a>
                  <a href="/HTML/noticias.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Noticias</a>
                  <a href="/HTML/ong.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">ONGs</a>
                  <a href="/HTML/empresa.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Empresas</a>
                  <a href="/HTML/donaciones.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Donaciones</a>
                </div>
                <div class="py-6">
                  <a href="/HTML/login.html" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto max-w-7x1">
            <div class="flex flex-wrap w-full mb-4 p-4">
                <div class="w-full mb-6 lg:mb-0">
                    <h1 class="sm:text-4xl text-5xl font-medium font-bold title-font mb-2 text-gray-900">News</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
            </div>
            <div class="flex flex-wrap -m-4">
                <!-- Noticia 1: Ejemplo de donación en el sector Salud -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/hospitales.jpeg" alt="Imagen 1">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Salud</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Equipamiento Médico para
                            Hospitales</h2>
                        <p class="leading-relaxed text-base">La empresa XYZ donó equipos de diagnóstico avanzado a
                            hospitales locales para mejorar la atención médica.</p>
                    </div>
                </div>

                <!-- Noticia 2: Ejemplo de donación en el sector Medio Ambiente -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/reforestación.jpeg" alt="Imagen 2">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Medio Ambiente
                        </h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Reforestación de Áreas Naturales
                        </h2>
                        <p class="leading-relaxed text-base">La compañía ABC colaboró con una ONG para plantar 10,000
                            árboles en zonas deforestadas como parte de su compromiso ambiental.</p>
                    </div>
                </div>

                <!-- Noticia 3: Ejemplo de donación en el sector Social -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/donacion_alimentos.jpeg" alt="Imagen 3">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Social</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Donación de Alimentos y Productos
                            Básicos</h2>
                        <p class="leading-relaxed text-base">La empresa DEF contribuyó con toneladas de alimentos no
                            perecederos y productos de higiene a comunidades vulnerables durante la crisis actual.</p>
                    </div>
                </div>

                <!-- Noticia 4: Ejemplo de donación en el sector Educación -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/becas-ayudas.jpeg" alt="Imagen 4">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Educación</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Becas y Ayudas Económicas para
                            Estudiantes</h2>
                        <p class="leading-relaxed text-base">La empresa GHI estableció un programa de becas que
                            beneficiará a cientos de estudiantes de bajos recursos en la región.</p>
                    </div>
                </div>

                <!-- Noticia 5: Ejemplo de donación en el sector Cultural -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/monumentos.jpeg" alt="Imagen 5">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Cultural</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Restauración de Monumentos
                            Históricos</h2>
                        <p class="leading-relaxed text-base">La empresa JKL financió la restauración de un monumento
                            histórico importante para preservar el patrimonio cultural de la región.</p>
                    </div>
                </div>

                <!-- Noticia 6: Ejemplo de donación en el sector Deportivo -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/deportivo.jpeg" alt="Imagen 6">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Deportivo</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Equipamiento Deportivo para
                            Escuelas</h2>
                        <p class="leading-relaxed text-base">La compañía MNO donó uniformes y equipos deportivos a
                            escuelas locales para fomentar la actividad física entre los jóvenes.</p>
                    </div>
                </div>

                <!-- Noticia 7: Ejemplo de donación en el sector Tecnológico -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/informaticos.jpeg" alt="Imagen 7">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Tecnológico
                        </h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Donación de Equipos Informáticos
                        </h2>
                        <p class="leading-relaxed text-base">La empresa PQR entregó computadoras y software educativo a
                            escuelas públicas para apoyar el aprendizaje digital.</p>
                    </div>
                </div>

                <!-- Noticia 8: Ejemplo de donación en el sector de Emergencias y Desastres -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/humanitaria.jpeg" alt="Imagen 8">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector de Emergencias
                            y Desastres</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Ayuda Humanitaria en Casos de
                            Desastre</h2>
                        <p class="leading-relaxed text-base">La empresa STU proporcionó kits de emergencia a comunidades
                            afectadas por un desastre natural reciente para ayudar en la recuperación temprana.</p>
                    </div>
                </div>

                <!-- Noticia 9: Ejemplo de donación en el sector de Derechos Humanos -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG/victimas.jpeg" alt="Imagen 9">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector de Derechos
                            Humanos</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Apoyo a Víctimas de Violencia</h2>
                        <p class="leading-relaxed text-base">La empresa UVW brindó asistencia legal y psicológica a
                            víctimas de violencia doméstica para ayudarles a reconstruir sus vidas.</p>
                    </div>
                </div>

              


            </div>
        </div>
    </section>
    <script src="/JS/script.js"></script>
</body>

</html>