<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ONGs</title>
</head>

<body>
  <header class="absolute inset-x-0 top-0 z-50" style="z-index: 2; background-color: white;">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/HTML/index.html" class="-m-1.5 p-1.5">
          <span class="sr-only">Empresa ejemplo</span>
          <img class="h-8 w-auto" src="/IMG/logo.png" alt="">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" onclick="showMenu()">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/HTML/index.html" class="text-sm font-semibold leading-6 text-gray-900">Inicio</a>
        <a href="/HTML/nosotros.html" class="text-sm font-semibold leading-6 text-gray-900">Acerca de</a>
        <a href="./noticias.html" class="text-sm font-semibold leading-6 text-gray-900">Noticias</a>
        <a href="/HTML/ong.html" class="text-sm font-semibold leading-6 text-gray-900">ONGs</a>
        <a href="/HTML/empresa.html" class="text-sm font-semibold leading-6 text-gray-900">Empresas</a>
        <a href="/HTML/donaciones.html" class="text-sm font-semibold leading-6 text-gray-900">Donaciones</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="/HTML/login.html" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="hidden lg:hidden" role="dialog" aria-modal="true" id="menu-lateral">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="/IMG/logo.png" alt="">
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" id="cruz-lateral-navbar" onclick="hiddenMenu()">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="/HTML/index.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Inicio</a>
              <a href="/HTML/nosotros.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Acerca de</a>
              <a href="/HTML/noticias.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Noticias</a>
              <a href="/HTML/ong.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">ONGs</a>
              <a href="/HTML/empresa.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Empresas</a>
              <a href="/HTML/donaciones.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Donaciones</a>
            </div>
            <div class="py-6">
              <a href="/HTML/login.html" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto max-w-7x1">
            <div class="flex flex-wrap w-full mb-4 p-4">
                <div class="w-full mb-6 lg:mb-0">
                    <h1 class="sm:text-4xl text-5xl font-medium font-bold title-font mb-2 text-gray-900">ONG</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
            </div>
            <div class="flex flex-wrap -m-4">
                <!-- Noticia 1: Ejemplo de donación en el sector Salud -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="..\IMG\Amnistía Internacional.png" alt="Imagen 1">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Derechos Humanos</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Amnistía Internacional</h2>
                        <p class="leading-relaxed text-base">Organización global que trabaja para la protección de los derechos humanos. Investigación, defensa y acción directa para promover la justicia y la libertad.</p>
                    </div>
                </div>

                <!-- Noticia 2: Ejemplo de donación en el sector Medio Ambiente -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="..\IMG\Médicos Sin Fronteras (MSF).jpeg" alt="Imagen 2">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Medio Ambiente
                        </h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Médicos Sin Fronteras (MSF)
                        </h2>
                        <p class="leading-relaxed text-base">Proporciona asistencia médica de emergencia en crisis humanitarias y conflictos armados en todo el mundo, sin discriminación y con independencia.</p>
                    </div>
                </div>

                <!-- Noticia 3: Ejemplo de donación en el sector Social -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="..\IMG\Greenpeace.jpeg" alt="Imagen 3">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Medio Ambiente</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Greenpeace</h2>
                        <p class="leading-relaxed text-base">ONG ambientalista internacional que utiliza campañas no violentas y de concienciación para proteger el medio ambiente, la biodiversidad y promover soluciones sustentables.</p>
                    </div>
                </div>

                <!-- Noticia 4: Ejemplo de donación en el sector Educación -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG\Oxfam.png" alt="Imagen 4">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Fin de la pobreza</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Oxfam</h2>
                        <p class="leading-relaxed text-base">Lucha contra la pobreza y la injusticia globalmente, mediante programas de desarrollo, campañas de incidencia política y respuesta humanitaria en emergencias.</p>
                    </div>
                </div>

                <!-- Noticia 5: Ejemplo de donación en el sector Cultural -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="..\IMG\Save the Children.jpeg" alt="Imagen 5">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Salud Educaccion</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Save the Children</h2>
                        <p class="leading-relaxed text-base">Organización dedicada a mejorar la vida de los niños a través de programas de salud, educación y protección en situaciones de emergencia y desarrollo a largo plazo.
                        </p>
                    </div>
                </div>

                <!-- Noticia 6: Ejemplo de donación en el sector Deportivo -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="..\IMG\Cruz Roja.jpg" alt="Imagen 6">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector medicina</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Cruz Roja</h2>
                        <p class="leading-relaxed text-base">Movimiento humanitario que brinda asistencia médica, ayuda en desastres y promueve la preparación comunitaria, basado en los principios de humanidad, imparcialidad, neutralidad, independencia, voluntariado, unidad y universalidad.
                        </p>
                    </div>
                </div>

                <!-- Noticia 7: Ejemplo de donación en el sector Tecnológico -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="..\IMG\WWF (World Wide Fund for Nature).jpg" alt="Imagen 7">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Medio Ambientes</h3>
                        </h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">WWF (World Wide Fund for Nature)
                        </h2>
                        <p class="leading-relaxed text-base">Organización de conservación que trabaja en la protección de la biodiversidad, el uso sostenible de recursos naturales y la mitigación del cambio climático a través de proyectos locales y políticas globales.
                        </p>
                    </div>
                </div>

                <!-- Noticia 8: Ejemplo de donación en el sector de Emergencias y Desastres -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="../IMG\CARE International.png" alt="Imagen 8">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Economico
                            y Politico</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">CARE International:
                        </h2>
                        <p class="leading-relaxed text-base">Enfocada en combatir la pobreza mediante el empoderamiento de comunidades vulnerables con programas de desarrollo sostenible, respuesta a emergencias y promoción de derechos.
                        </p>
                    </div>
                </div>

                <!-- Noticia 9: Ejemplo de donación en el sector de Derechos Humanos -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="..\IMG\Amigos de la Tierra.jpeg" alt="Imagen 9">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector Medio Ambiente</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Amigos de la Tierra</h2>
                        <p class="leading-relaxed text-base">Red global de organizaciones ambientalistas que trabaja en la defensa de derechos ambientales, la justicia climática y la promoción de soluciones ecológicas.
                        </p>
                    </div>
                </div>

                <!-- Noticia 10: Ejemplo de donación en el sector de Investigación y Desarrollo -->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="bg-white p-6 rounded-lg">
                        <img class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
                            src="..\IMG\Plan International.png" alt="Imagen 10">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Sector de
                            Investigación, Desarrollo...</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Plan International</h2>
                        <p class="leading-relaxed text-base">ONG que trabaja por los derechos de la infancia y la igualdad de género, implementando programas de educación, salud, protección y desarrollo comunitario en más de 70 países..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/JS/script.js"></script>
</body>

</html>