:root {
  background-color: #d8efd5!important;
}
#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main {
  display: flex;
  border: 5px solid black;
  border-radius: 20px;
}

/* Página principal */
div#home-container {
  border: 5px solid black;
    border-radius: 30px;
    padding: 1em;
}
section#section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}
aside#creation-container {
  border-left: 5px solid black;
}