---
import Layout from "../../Layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-wrap">
    <article
      class="m-4 w-72 h-60 flex flex-col bg-blue-200 rounded-lg border-2 border-blue-950"
    >
      <h2 class="self-center m-4">Persona adulta</h2>
      <ul class="text-sm ml-2">
        <li>Max. Azúcar: <span class="italic text-xs">50 g/día</span></li>
        <li>
          Min. Frutas y vegetales: <span class="italic text-xs">400 g/día</span>
        </li>
        <li>Max. Sal: <span class="italic text-xs">2 g/día</span></li>
        <li>
          Max. Grasas totales: <span class="italic text-xs"
            >30% ingesta calórica</span>
        </li>
        <li>
          Max. Grasas saturadas: <span class="italic text-xs"
            >10% ingesta calórica</span>
        </li>
      </ul>
    </article>

    <article
      class="m-4 w-72 h-60 flex flex-col bg-blue-200 rounded-lg border-2 border-blue-950"
    >
      <h2 class="self-center m-4">Niñ@</h2>
      <ul class="text-sm ml-2">
        <li>Max. Azúcar: <span class="italic text-xs">50 g/día</span></li>
        <li>
          Min. Frutas y vegetales: <span class="italic text-xs">400 g/día</span>
        </li>
        <li>Max. Sal: <span class="italic text-xs">2 g/día</span></li>
        <li>
          Max. Grasas totales: <span class="italic text-xs"
            >30% ingesta calórica</span>
        </li>
        <li>
          Max. Grasas saturadas: <span class="italic text-xs"
            >10% ingesta calórica</span>
        </li>
      </ul>
    </article>
  </main>
</Layout>
